{% extends "layout.html" %}

{% block body %}

{% from "includes/formhelpers.html" import render_field %}
        <div align ="center">
            <h3>Kayıt Ol</h3>
            <hr>
        </div>
    <form method="post">
        <div align="center">
            <dl>
                {{ render_field(form.name, class = "form-control") }}
                {{ render_field(form.email, class = "form-control") }}
                {{ render_field(form.username, class = "form-control") }}
                {{ render_field(form.password, class = "form-control") }}
                {{ render_field(form.confirm, class = "form-control") }}
                <button type="submit" class="btn btn-primary">Kayıt Ol</button>
            </dl>
        </div>
    </form>

{% endblock %}